body.Accueil {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb8D5FdYlATC5uko--7Xf1UqP_rRmcgbyt7AugbPMrkIqUX2qjFTSvskVI&s=10");
} 
body.contact {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb8D5FdYlATC5uko--7Xf1UqP_rRmcgbyt7AugbPMrkIqUX2qjFTSvskVI&s=10");
} 

body.projets {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb8D5FdYlATC5uko--7Xf1UqP_rRmcgbyt7AugbPMrkIqUX2qjFTSvskVI&s=10");
} 